html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.background {
  background-image: url("assets/toronto-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: rgb(31, 31, 31);
  height: 300vh;
}

.background .water {
  filter: url("#turbulence");
  background-image: url("assets/toronto-background-map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 300vh;
}

#turbulence-svg {
  display: none;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  transition: background-color 300ms linear;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.navbar-brand {
  margin-left: 1.1em;
}

.navbar-collapse {
  margin-left: 1.1em;
}

.navbar-nav {
  margin-right: 1.1em;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  margin: 7.5vh 2.5vw 7.5vh 2.5vw;
  color: white;
}

.header {
  margin-left: 6vw;
  width: 70%;
}

.header-title {
  font-size: 6em;
  font-weight: 700;
  margin: 25vh 0px 20px 0px;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.247));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-summary {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  margin: 15px 0px 20px 0px;
  line-height: 1.5em;
}

.header-icon {
  color: white;
  margin: 7.5px;
  transition: color 200ms linear;
  text-decoration: none !important;
}

.header-icon:hover {
  color: rgb(235, 155, 64);
  cursor: pointer;
}

.projects {
  position: absolute;
  top: 100vh;
  margin-left: 6vw;
  padding-top: 10vh;
}

.projects-header {
  font-size: 4em;
}

/****************************************** Media Queries ******************************************/

@media (max-width: 767px) {
  /* Navbar is always darkened on smaller screens */
  .navbar {
    background-color: rgba(0, 0, 0, 0.75) !important;
  }

  /* Remove left padding for smaller screens */
  .navbar-brand {
    margin-left: 0em;
  }

  /* Make header centered, with margins on each side for smaller screens */
  .header {
    width: auto;
    margin-right: 6vw;
  }

  .header-title {
    margin-top: 5vh;
  }

  /* Force the header title to take up 2 lines  */
  .header-title {
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 70%;
  }
}

/****************************************** Animations ******************************************/

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}